.full-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.is-full-height {
  height: 100%;
}

.is-full-height-vh {
  height: 100vh;
}


.height-90 {
  height: 90%;
}

.width-90 {
  width: 90%;
}

.increase-rem-1 {
  height: 1rem;
  width: 1rem;
}

.increase-rem-2 {
  height: 2rem;
  width: 2rem;
}

.height-rem-1 {
  height: 1rem;
}

.width-rem-1 {
  width: 1rem;
}

.height-rem-2{
  height: 2rem;
}

.width-rem-2 {
  width: 2rem;
}



